<a href="https://colab.research.google.com/github/alyneberriel/marketing_campaign/blob/main/Trabalho_individual_AlyneBerriel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INSTALAÇÕES

In [ ]:
!pip install pyspark
!pip install pymongo[srv]
!pip install pandera
!pip install gcsfs

##BIBLIOTECAS

In [ ]:
#PANDAS
import pandas as pd
import pandera as pa
# import numpy as nu

#MONGO
import pymongo
from pymongo import MongoClient

#PYSPARK
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

#CLOUD
from google.colab import drive
drive.mount('/content/drive')
from google.cloud import storage
import os

Mounted at /content/drive

##Configuração Google Cloud - Utilizar caso possua a chave Json

In [ ]:
#CONFIGURAÇÂO DA CHAVE DE SEGURANÇA - 
serviceAccount = '/content/bc23-soulcode-bd1816747ebd.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
#CÓDIGOS DE ACESSO A BUCKET PARA CRIAR UM DATAFRAME A PARTIR DO DATASET

client = storage.Client()
bucket = client.get_bucket('bases_tratamento')
bucket.blob('marketing_campaign.csv')
path = 'gs://bases_tratamento/bases_originais_soulcode/marketing_campaign.csv'


##Configurações Pandas

In [ ]:
#Dataset no bucket
#1-Através de arquivo CSV como publico na bucket - PARA O CASO DE NÃO POSSUIR A CHAVE JSON DO GCLOUD
#df = pd.read_csv('https://storage.googleapis.com/bases_tratamento/bases_originais_soulcode/marketing_campaign.csv', sep=',')

#2-Através do arquivo de configuração Json realizado na celula "Configuração Google Cloud"
df = pd.read_csv(path)

In [ ]:
#Alterar visualização dos dados do DF
pd.set_option('display.max_columns', 100)
#pd.set_option('display.max_roll', 10000)

In [ ]:
df

##Configurações MONGO - EXECUTAR APENAS UMA VEZ AO RECEBER O ARQUIVO.

In [ ]:
#Conexão com o Mongo
client = pymongo.MongoClient('mongodb+srv://soulcode:a1b2c3@trabalho.mljmmhi.mongodb.net/?retryWrites=true&w=majority')
#ACESSO A BASE PELO PROFESSOR.

In [ ]:
#Criando BASE e COLEÇÃO
db = client['marketing']
marketing_original = db.original
marketing_original.count_documents({})

0

In [ ]:
#Inserindo os dados no Mongo
df_dict = df.to_dict("records") 
marketing_original.insert_many(df_dict)

##Analises com Pandas

In [ ]:
df.dtypes

In [ ]:
df.shape

#(2240, 27)

In [ ]:
df.id.is_unique
#ID é valor unico do DataFrame

In [ ]:
df.isna().sum()
#A coluna Income possui 24 campos como NA

In [ ]:
#Filtro nulos para a coluna Income
filtro1 = df.renda_anual.isna()

df.loc[filtro1]

In [ ]:
#Analisando os dados existentes nas colunas

df.groupby(['estado_civil'],dropna=False).size().sort_values(ascending=True)
df.groupby(['escolaridade'],dropna=False).size().sort_values(ascending=True)
df.groupby(['renda_anual'],dropna=False).size().sort_values(ascending=False)


RESULTADO DAS ANALISES DESSE BLOCO

Necessario Tradução do texto das colunas:
```
Education
Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
dtype: int64

Marital_Status
Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Absurd        2
YOLO          2
dtype: int64
```

Dropar as colunas 


```
Z_CostContact
Z_Revenue
```
-Substituir os NaN na coluna da Renda por Não informado

-Alterar a coluna data_cadastro para Date.


-

##1° BACKUP INICIAL - dfinicial

In [ ]:
dfinicial = df.copy()

In [ ]:
dfinicial

##Transformações com Pandas

In [ ]:
#Realizar drop das colunas:
# Z_CostContact sendo (3    2240)
# Z_Revenue sendo (11    2240)
#MOTIVO - No dataset de recebido em 19/08/2022 essa coluna apresenta todas as linhas com o mesmo valor, conforme descrito nas linhas acima.

df.drop(['Z_CostContact',
         'Z_Revenue'], axis=1, inplace=True)

In [ ]:
#Renomeando as colunas do DF - Realizando a tradução
df.rename(columns={
                    'ID':'id',
                    'Year_Birth':'ano_nascimento',
                    'Education':'escolaridade',
                    'Marital_Status':'estado_civil',
                    'Income':'renda_anual',
                    'Kidhome':'qtd_crianca',
                    'Teenhome':'qtd_adolescente',
                    'Dt_Customer':'data_cadastro',
                    'Recency':'ultima_compra',
                    'MntWines':'vinhos',
                    'MntFruits':'frutas',
                    'MntMeatProducts':'carnes',
                    'MntFishProducts':'pescado',
                    'MntSweetProducts':'doces',
                    'MntGoldProds':'produtos_gold',
                    'NumDealsPurchases':'compras_desconto',
                    'NumWebPurchases':'compras_web',
                    'NumCatalogPurchases':'compras_catalogo',
                    'NumStorePurchases':'compras_lojas',
                    'NumWebVisitsMonth':'visita_web_mes',
                    'AcceptedCmp3':'fl_aceitou_campanha3',
                    'AcceptedCmp4':'fl_aceitou_campanha4',
                    'AcceptedCmp5':'fl_aceitou_campanha5',
                    'AcceptedCmp1':'fl_aceitou_campanha1',
                    'AcceptedCmp2' :'fl_aceitou_campanha2',
                    'Complain':'fl_reclamacao',
                    'Response':'fl_aceitou_ultcampanha'
                   },inplace=True)

In [ ]:
#Traduzindo os textos dentro das colunas Education e Marital_Status

df.loc[df.escolaridade == 'Graduation',['escolaridade']] = 'Graduação'
df.loc[df.escolaridade == 'Master',['escolaridade']] = 'Mestrado'
df.loc[df.escolaridade == '2n Cycle',['escolaridade']] = 'Tecnologo'
df.loc[df.escolaridade == 'Basic',['escolaridade']] = 'Ensino Médio'


#As linhas comentadas é necessario entrevista para entender em qual categoria se encaixam e a motivação de mante-las separadas na base em questão.
#Já que Married poderia se juntas com Together/ e Single com Alone e YOLO se a analise for consumo de itens comprados.

df.loc[df.estado_civil == 'Married',['estado_civil']] = 'Casado'
#df.loc[df.estado_civil == 'Together',['estado_civil']] = ''
df.loc[df.estado_civil == 'Single',['estado_civil']] = 'Solteiro'
df.loc[df.estado_civil == 'Divorced',['estado_civil']] = 'Divorciado'
df.loc[df.estado_civil == 'Widow',['estado_civil']] = 'Viúvo'
#df.loc[df.estado_civil == 'Alone',['estado_civil']] = ''
#df.loc[df.estado_civil == 'Absurd',['estado_civil']] = ''
#df.loc[df.estado_civil == 'YOLO',['estado_civil']] = ''

In [ ]:
#Alterando o NaN na base para o valor "Não informado", só existiam 24 NaN na coluna renda_anual, validado na celula "Analise com Pandas"

df.fillna(value = 'Não informado',
          inplace = True)

In [ ]:
#Alterando o tipo da coluna 'data_cadastro' para date, pois ela encontra-se como object

df.data_cadastro = pd.to_datetime(df['data_cadastro'], dayfirst=True)

##Pandera Validação

In [ ]:
df.dtypes

In [ ]:
schema = pa.DataFrameSchema(
      columns = {
          'id':pa.Column(pa.Int),
          'ano_nascimento':pa.Column(pa.Int),
          'escolaridade':pa.Column(pa.String),
          'estado_civil':pa.Column(pa.String),
          'renda_anual':pa.Column(pa.String),
          'qtd_crianca':pa.Column(pa.Int),
          'qtd_adolescente':pa.Column(pa.Int),
          'data_cadastro':pa.Column(pa.DateTime),
          'ultima_compra':pa.Column(pa.Int),
          'vinhos':pa.Column(pa.Int),
          'frutas':pa.Column(pa.Int),
          'carnes':pa.Column(pa.Int),
          'pescado':pa.Column(pa.Int),
          'doces':pa.Column(pa.Int),
          'produtos_gold':pa.Column(pa.Int),
          'compras_desconto':pa.Column(pa.Int),
          'compras_web':pa.Column(pa.Int),
          'compras_catalogo':pa.Column(pa.Int),
          'compras_lojas':pa.Column(pa.Int),
          'visita_web_mes':pa.Column(pa.Int),
          'fl_aceitou_campanha3':pa.Column(pa.Int),
          'fl_aceitou_campanha4':pa.Column(pa.Int),
          'fl_aceitou_campanha5':pa.Column(pa.Int),
          'fl_aceitou_campanha1':pa.Column(pa.Int),
          'fl_aceitou_campanha2':pa.Column(pa.Int),
          'fl_reclamacao':pa.Column(pa.Int),
          'fl_aceitou_ultcampanha':pa.Column(pa.Int)

      }
      
  )

In [ ]:
schema.validate(df)

##2° BACKUP FINAL DO PANDAS - dffimpandas

In [ ]:
dffimpandas = df.copy()

In [ ]:
dffimpandas

##Configurações PYSPARK (dffimpandas-> df_spark)

In [ ]:
#CONFIGURAR A NOSSA SPARKSESSION
spark = (SparkSession.builder
          .master('local[4]')
          .appName('intro-pyspark')
          .config('spark.ui.port', '4050')
          .getOrCreate()
        )

In [ ]:
#Criando a estrutura do dataframe no Pyspark com base na validação realizada no Pandera

esquema = (
    StructType([
        StructField('id',IntegerType()),
        StructField('ano_nascimento', IntegerType()),
        StructField('escolaridade', StringType()),
        StructField('estado_civil', StringType()),
        StructField('renda_anual', StringType()),
        StructField('qtd_crianca', IntegerType()),
        StructField('qtd_adolescente', IntegerType()),
        StructField('data_cadastro', DateType()),
        StructField('ultima_compra', IntegerType()),
        StructField('vinhos', IntegerType()),
        StructField('frutas', IntegerType()),
        StructField('carnes', IntegerType()),
        StructField('pescado', IntegerType()),
        StructField('doces', IntegerType()),
        StructField('produtos_gold', IntegerType()),
        StructField('compras_desconto', IntegerType()),
        StructField('compras_web', IntegerType()),
        StructField('compras_catalogo', IntegerType()),
        StructField('compras_lojas', IntegerType()),
        StructField('visita_web_mes', IntegerType()),
        StructField('fl_aceitou_campanha3', IntegerType()),
        StructField('fl_aceitou_campanha4', IntegerType()),
        StructField('fl_aceitou_campanha5', IntegerType()),
        StructField('fl_aceitou_campanha1', IntegerType()),
        StructField('fl_aceitou_campanha2', IntegerType()),
        StructField('fl_reclamacao', IntegerType()),
        StructField('fl_aceitou_ultcampanha', IntegerType())
               

        ])
)

In [ ]:
#CONVERTER O DATAFRAME FINAL DO PANDAS PARA O PYSPARK
df_spark = spark.createDataFrame(dffimpandas,schema=esquema)

In [ ]:
df_spark.show(10)

+----+--------------+------------+------------+-----------+-----------+---------------+-------------+-------------+------+------+------+-------+-----+-------------+----------------+-----------+----------------+-------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+----------------------+
|  id|ano_nascimento|escolaridade|estado_civil|renda_anual|qtd_crianca|qtd_adolescente|data_cadastro|ultima_compra|vinhos|frutas|carnes|pescado|doces|produtos_gold|compras_desconto|compras_web|compras_catalogo|compras_lojas|visita_web_mes|fl_aceitou_campanha3|fl_aceitou_campanha4|fl_aceitou_campanha5|fl_aceitou_campanha1|fl_aceitou_campanha2|fl_reclamacao|fl_aceitou_ultcampanha|
+----+--------------+------------+------------+-----------+-----------+---------------+-------------+-------------+------+------+------+-------+-----+-------------+----------------+-----------+----------------+-------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+----------------------+
|5524|          1957|   Graduação|    Solteiro|    58138.0|          0|              0|   2012-09-04|           58|   635|    88|   546|    172|   88|           88|               3|          8|              10|            4|             7|                   0|                   0|                   0|                   0|                   0|            0|                     1|
|2174|          1954|   Graduação|    Solteiro|    46344.0|          1|              1|   2014-03-08|           38|    11|     1|     6|      2|    1|            6|               2|          1|               1|            2|             5|                   0|                   0|                   0|                   0|                   0|            0|                     0|
|4141|          1965|   Graduação|    Together|    71613.0|          0|              0|   2013-08-21|           26|   426|    49|   127|    111|   21|           42|               1|          8|               2|           10|             4|                   0|                   0|                   0|                   0|                   0|            0|                     0|
|6182|          1984|   Graduação|    Together|    26646.0|          1|              0|   2014-02-10|           26|    11|     4|    20|     10|    3|            5|               2|          2|               0|            4|             6|                   0|                   0|                   0|                   0|                   0|            0|                     0|
|5324|          1981|         PhD|      Casado|    58293.0|          1|              0|   2014-01-19|           94|   173|    43|   118|     46|   27|           15|               5|          5|               3|            6|             5|                   0|                   0|                   0|                   0|                   0|            0|                     0|
|7446|          1967|    Mestrado|    Together|    62513.0|          0|              1|   2013-09-09|           16|   520|    42|    98|      0|   42|           14|               2|          6|               4|           10|             6|                   0|                   0|                   0|                   0|                   0|            0|                     0|
| 965|          1971|   Graduação|  Divorciado|    55635.0|          0|              1|   2012-11-13|           34|   235|    65|   164|     50|   49|           27|               4|          7|               3|            7|             6|                   0|                   0|                   0|                   0|                   0|            0|                     0|
|6177|          1985|         PhD|      Casado|    33454.0|          1|              0|   2013-05-08|           32|    76|    10|    56|      3|    1|           23|               2|          4|               0|            4|             8|                   0|                   0|                   0|                   0|                   0|            0|                     0|
|4855|          1974|         PhD|    Together|    30351.0|          1|              0|   2013-06-06|           19|    14|     0|    24|      3|    3|            2|               1|          3|               0|            2|             9|                   0|                   0|                   0|                   0|                   0|            0|                     1|
|5899|          1950|         PhD|    Together|     5648.0|          1|              1|   2014-03-13|           68|    28|     0|     6|      1|    1|           13|               1|          1|               0|            0|            20|                   1|                   0|                   0|                   0|                   0|            0|                     0|
+----+--------------+------------+------------+-----------+-----------+---------------+-------------+-------------+------+------+------+-------+-----+-------------+----------------+-----------+----------------+-------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+----------------------+
only showing top 10 rows

##3º BACKUP INICIAL DO PYSPARK df_spark -> df2

In [ ]:
df_spark = df2

In [ ]:
#VERIFICANDO OS DADOS
df2.printSchema()
df2.show()

##Analises com PySpark

In [ ]:
df2.select('idade').distinct().show()

In [ ]:
df2.groupBy('idade').count().sort(F.col('idade').desc()).show()

# idade|count|
# +-----+-----+
# |  121|    1|
# |  114|    1|
# |  113|    1|
# |   73|    1|
# |   72|    1|
# |   71|    1|

#As linhas não serão removidas, 
#necessario validação dos valores passados e se as pessoas em questão realmente tinham essa idade no momento do cadastro

In [ ]:
df2.groupBy('renda_anual').count().sort(F.col('renda_anual').desc()).show(100)

# |      92556.0|    1|
# |       9255.0|    1|
# |      92533.0|    1|

# |      89572.0|    1|
# |       8940.0|    1|
# |      89120.0|    1|

#Porque ele não ordena as string de forma correta, inserindo os valor com uma casa decimal a menos no meio de outros maiores??

In [ ]:
df2.groupBy('total_menor_idade').count().sort(F.col('total_menor_idade').desc()).show(100)

# +-----------------+-----+
# |total_menor_idade|count|
# +-----------------+-----+
# |                3|   53|
# |                2|  421|
# |                1| 1128|
# |                0|  638|
# +-----------------+-----+

In [ ]:
df2.orderBy(F.col('ano_nascimento'),ascending=True).show()

#ID             ANO
#11004|         1893
#1150|          1899
#7829|          1900
#Necessario validar se os anos informados estão corretos, pois tem uma descrepancia da data de nascimento para a data_cadastro.

In [ ]:
df2.printSchema()
df2.show()

In [ ]:
df2.filter("renda_anual is NULL").show()

In [ ]:
df2.dropDuplicates().show()

##Transformações com Pyspark

In [ ]:
#Mudança de nome de colunas
df2 = df2.withColumnRenamed('fl_aceitou_ultcampanha', 'fl_resposta')

In [ ]:
df2 = df2.withColumnRenamed('ultima_compra', 'dias_intervalo_compras')

Criando coluna total_menor_idade com a soma da quantidade de crianças e adolescentes da base.

In [ ]:
df_total_filhos = df2.withColumn('total_menor_idade', F.col('qtd_crianca') + F.col('qtd_adolescente'))

In [ ]:
#Validando a criação da nova coluna com uma amostragem dos valores
df_total_filhos.show()

In [ ]:
#Validado o tipo de dados das coluna
df_total_filhos.printSchema()

In [ ]:
#Retornando a nova coluna de total_menor_idade para a base principal do Pyspark
df2 = df_total_filhos

In [ ]:
df2.show()

Criando coluna de idade, com  base nas Colunas data_cadastro - ano_nascimento

In [ ]:
#Criando uma coluna para separar o ano da data do cadastro.
df_ano_cadastro = df2.withColumn('ano_cadastro', F.substring(F.col('data_cadastro'), 1, 4))

#OBJETIVO: Qual a idade dos clientes baseado no ano de nascimento
#Coluna data_cadastro - ano_nascimento

In [ ]:
df_ano_cadastro.show()

In [ ]:
df3 = df_ano_cadastro.withColumn('idade', F.col('ano_cadastro') - F.col('ano_nascimento'))
#Calculando a idade dos clientes

In [ ]:
df3.show()

In [ ]:
#Dropando a coluna ano_cadastro, criada apenas para realizar o calculo de idade do cliente.
df3 = df3.drop(F.col('ano_cadastro'))

In [ ]:
df3.printSchema()
# idade: double (nullable = true)

In [ ]:
#Alterando a coluna de idade de float para inteiro.
df3 = df3.withColumn('idade', df3['idade'].cast('integer'))

In [ ]:
#Retornando o calculo da idade para a base principal do Pyspark
df2 = df3

Conclusão da criação da coluna idade no df2

## 4° BACKUP FINAL DO PYSPARK - dffimpy

In [ ]:
dffimpy = df2

In [ ]:
dffimpy.printSchema()
dffimpy.show()

##Estudos com Pyspark (dffimpy -> df_window)
-filtros 
-ordenação
-agrupamento
-Window Functions

In [ ]:
dffimpy.groupBy('escolaridade').count().show()

+------------+-----+
|escolaridade|count|
+------------+-----+
|   Tecnologo|  203|
|         PhD|  486|
|Ensino Médio|   54|
|    Mestrado|  370|
|   Graduação| 1127|
+------------+-----+

In [ ]:
dffimpy.groupBy('escolaridade', 'total_menor_idade').count().sort(F.col('escolaridade').asc()).show()

+------------+-----------------+-----+
|escolaridade|total_menor_idade|count|
+------------+-----------------+-----+
|Ensino Médio|                1|   35|
|Ensino Médio|                2|    2|
|Ensino Médio|                0|   17|
|   Graduação|                0|  321|
|   Graduação|                3|   25|
|   Graduação|                2|  202|
|   Graduação|                1|  579|
|    Mestrado|                2|   82|
|    Mestrado|                1|  178|
|    Mestrado|                3|    8|
|    Mestrado|                0|  102|
|         PhD|                1|  235|
|         PhD|                2|  100|
|         PhD|                0|  134|
|         PhD|                3|   17|
|   Tecnologo|                3|    3|
|   Tecnologo|                1|  101|
|   Tecnologo|                0|   64|
|   Tecnologo|                2|   35|
+------------+-----------------+-----+

In [ ]:
dffimpy.groupBy('total_menor_idade').agg(F.sum('vinhos'),
           F.sum('frutas'),
           F.sum('carnes'),
           F.sum('pescado'),
           F.sum('doces'),
           F.sum('produtos_gold')).show()

#Quantos menor o numero de menores em casa maior o gasto em produtos, na maioria dos seguimentos.
# exceto em produtos_gold que o valor é maior quando se tem 1 menor de idade em casa.

+-----------------+-----------+-----------+-----------+------------+----------+------------------+
|total_menor_idade|sum(vinhos)|sum(frutas)|sum(carnes)|sum(pescado)|sum(doces)|sum(produtos_gold)|
+-----------------+-----------+-----------+-----------+------------+----------+------------------+
|                1|     301222|      21830|     111253|       30051|     22893|             45994|
|                3|       9083|        366|       3393|         375|       351|               986|
|                2|      59610|       3317|      21597|        4794|      3524|             10702|
|                0|     310901|      33404|     237725|       48837|     33853|             40927|
+-----------------+-----------+-----------+-----------+------------+----------+------------------+

In [ ]:
dffimpy.select(F.col('compras_web'),
           F.col('compras_catalogo'),
           F.col('compras_lojas'),
           F.col('escolaridade')).show()
  
#Visualizando as olunas que serão utilizadas na analise.

+-----------+----------------+-------------+------------+
|compras_web|compras_catalogo|compras_lojas|escolaridade|
+-----------+----------------+-------------+------------+
|          8|              10|            4|   Graduação|
|          1|               1|            2|   Graduação|
|          8|               2|           10|   Graduação|
|          2|               0|            4|   Graduação|
|          5|               3|            6|         PhD|
|          6|               4|           10|    Mestrado|
|          7|               3|            7|   Graduação|
|          4|               0|            4|         PhD|
|          3|               0|            2|         PhD|
|          1|               0|            0|         PhD|
|          1|               0|            2|   Graduação|
|          2|               0|            3|Ensino Médio|
|          3|               4|            8|   Graduação|
|          6|               1|            5|    Mestrado|
|          1|               0|            3|   Graduação|
|          7|               6|           12|         PhD|
|          3|               0|            3|   Graduação|
|          4|               1|            6|   Graduação|
|         11|               4|            9|    Mestrado|
|          2|               1|            3|   Tecnologo|
+-----------+----------------+-------------+------------+
only showing top 20 rows

In [ ]:
dffimpy.groupBy('escolaridade').agg(F.sum('compras_web').alias('Total_compas_web'),
                                    F.sum('compras_catalogo').alias('Total_compas_catalogo'),
                                     F.sum('compras_lojas').alias('Total_compas_lojas')).show()

#Independente da escolaridade os clientes preferem comprar na loja do que na web e no catalogo - Necessario maior investimento nas lojas.

+------------+----------------+---------------------+------------------+
|escolaridade|Total_compas_web|Total_compas_catalogo|Total_compas_lojas|
+------------+----------------+---------------------+------------------+
|   Tecnologo|             757|                  471|              1118|
|         PhD|            2150|                 1443|              2946|
|Ensino Médio|             102|                   26|               154|
|    Mestrado|            1492|                  951|              2182|
|   Graduação|            4649|                 3072|              6570|
+------------+----------------+---------------------+------------------+

In [ ]:
dffimpy.show()

+----+--------------+------------+------------+-------------+-----------+---------------+-------------+----------------------+------+------+------+-------+-----+-------------+----------------+-----------+----------------+-------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+-----------+-----+-----------------+
|  id|ano_nascimento|escolaridade|estado_civil|  renda_anual|qtd_crianca|qtd_adolescente|data_cadastro|dias_intervalo_compras|vinhos|frutas|carnes|pescado|doces|produtos_gold|compras_desconto|compras_web|compras_catalogo|compras_lojas|visita_web_mes|fl_aceitou_campanha3|fl_aceitou_campanha4|fl_aceitou_campanha5|fl_aceitou_campanha1|fl_aceitou_campanha2|fl_reclamacao|fl_resposta|idade|total_menor_idade|
+----+--------------+------------+------------+-------------+-----------+---------------+-------------+----------------------+------+------+------+-------+-----+-------------+----------------+-----------+----------------+-------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+-----------+-----+-----------------+
|5524|          1957|   Graduação|    Solteiro|      58138.0|          0|              0|   2012-09-04|                    58|   635|    88|   546|    172|   88|           88|               3|          8|              10|            4|             7|                   0|                   0|                   0|                   0|                   0|            0|          1|   55|                0|
|2174|          1954|   Graduação|    Solteiro|      46344.0|          1|              1|   2014-03-08|                    38|    11|     1|     6|      2|    1|            6|               2|          1|               1|            2|             5|                   0|                   0|                   0|                   0|                   0|            0|          0|   60|                2|
|4141|          1965|   Graduação|    Together|      71613.0|          0|              0|   2013-08-21|                    26|   426|    49|   127|    111|   21|           42|               1|          8|               2|           10|             4|                   0|                   0|                   0|                   0|                   0|            0|          0|   48|                0|
|6182|          1984|   Graduação|    Together|      26646.0|          1|              0|   2014-02-10|                    26|    11|     4|    20|     10|    3|            5|               2|          2|               0|            4|             6|                   0|                   0|                   0|                   0|                   0|            0|          0|   30|                1|
|5324|          1981|         PhD|      Casado|      58293.0|          1|              0|   2014-01-19|                    94|   173|    43|   118|     46|   27|           15|               5|          5|               3|            6|             5|                   0|                   0|                   0|                   0|                   0|            0|          0|   33|                1|
|7446|          1967|    Mestrado|    Together|      62513.0|          0|              1|   2013-09-09|                    16|   520|    42|    98|      0|   42|           14|               2|          6|               4|           10|             6|                   0|                   0|                   0|                   0|                   0|            0|          0|   46|                1|
| 965|          1971|   Graduação|  Divorciado|      55635.0|          0|              1|   2012-11-13|                    34|   235|    65|   164|     50|   49|           27|               4|          7|               3|            7|             6|                   0|                   0|                   0|                   0|                   0|            0|          0|   41|                1|
|6177|          1985|         PhD|      Casado|      33454.0|          1|              0|   2013-05-08|                    32|    76|    10|    56|      3|    1|           23|               2|          4|               0|            4|             8|                   0|                   0|                   0|                   0|                   0|            0|          0|   28|                1|
|4855|          1974|         PhD|    Together|      30351.0|          1|              0|   2013-06-06|                    19|    14|     0|    24|      3|    3|            2|               1|          3|               0|            2|             9|                   0|                   0|                   0|                   0|                   0|            0|          1|   39|                1|
|5899|          1950|         PhD|    Together|       5648.0|          1|              1|   2014-03-13|                    68|    28|     0|     6|      1|    1|           13|               1|          1|               0|            0|            20|                   1|                   0|                   0|                   0|                   0|            0|          0|   64|                2|
|1994|          1983|   Graduação|      Casado|Não informado|          1|              0|   2013-11-15|                    11|     5|     5|     6|      0|    2|            1|               1|          1|               0|            2|             7|                   0|                   0|                   0|                   0|                   0|            0|          0|   30|                1|
| 387|          1976|Ensino Médio|      Casado|       7500.0|          0|              0|   2012-11-13|                    59|     6|    16|    11|     11|    1|           16|               1|          2|               0|            3|             8|                   0|                   0|                   0|                   0|                   0|            0|          0|   36|                0|
|2125|          1959|   Graduação|  Divorciado|      63033.0|          0|              0|   2013-11-15|                    82|   194|    61|   480|    225|  112|           30|               1|          3|               4|            8|             2|                   0|                   0|                   0|                   0|                   0|            0|          0|   54|                0|
|8180|          1952|    Mestrado|  Divorciado|      59354.0|          1|              1|   2013-11-15|                    53|   233|     2|    53|      3|    5|           14|               3|          6|               1|            5|             6|                   0|                   0|                   0|                   0|                   0|            0|          0|   61|                2|
|2569|          1987|   Graduação|      Casado|      17323.0|          0|              0|   2012-10-10|                    38|     3|    14|    17|      6|    1|            5|               1|          1|               0|            3|             8|                   0|                   0|                   0|                   0|                   0|            0|          0|   25|                0|
|2114|          1946|         PhD|    Solteiro|      82800.0|          0|              0|   2012-11-24|                    23|  1006|    22|   115|     59|   68|           45|               1|          7|               6|           12|             3|                   0|                   0|                   1|                   1|                   0|            0|          1|   66|                0|
|9736|          1980|   Graduação|      Casado|      41850.0|          1|              1|   2012-12-24|                    51|    53|     5|    19|      2|   13|            4|               3|          3|               0|            3|             8|                   0|                   0|                   0|                   0|                   0|            0|          0|   32|                2|
|4939|          1946|   Graduação|    Together|      37760.0|          0|              0|   2012-08-31|                    20|    84|     5|    38|    150|   12|           28|               2|          4|               1|            6|             7|                   0|                   0|                   0|                   0|                   0|            0|          0|   66|                0|
|6565|          1949|    Mestrado|      Casado|      76995.0|          0|              1|   2013-03-28|                    91|  1012|    80|   498|      0|   16|          176|               2|         11|               4|            9|             5|                   0|                   0|                   0|                   1|                   0|            0|          0|   64|                1|
|2278|          1985|   Tecnologo|    Solteiro|      33812.0|          1|              0|   2012-11-03|                    86|     4|    17|    19|     30|   24|           39|               2|          2|               1|            3|             6|                   0|                   0|                   0|                   0|                   0|            0|          0|   27|                1|
+----+--------------+------------+------------+-------------+-----------+---------------+-------------+----------------------+------+------+------+-------+-----+-------------+----------------+-----------+----------------+-------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+-----------+-----+-----------------+
only showing top 20 rows

In [ ]:
df_reclamacao = dffimpy.groupBy('escolaridade').agg(F.sum('fl_reclamacao').alias('total_reclamacoes'),
                                               F.sum('fl_resposta').alias('total_respostas'),
                                                F.sum('compras_desconto').alias('total_compras_com_desconto'),
                                                F.count('escolaridade').alias('total_por_escolaridade'))

#Percentual de reclamação por total de pessoas em graduação - INCOMPLETO

In [ ]:
df_reclamacao.show(100)

+------------+-----------------+---------------+--------------------------+----------------------+
|escolaridade|total_reclamacoes|total_respostas|total_compras_com_desconto|total_por_escolaridade|
+------------+-----------------+---------------+--------------------------+----------------------+
|   Tecnologo|                4|             22|                       456|                   203|
|         PhD|                1|            101|                      1154|                   486|
|Ensino Médio|                0|              2|                        97|                    54|
|    Mestrado|                2|             57|                       898|                   370|
|   Graduação|               14|            152|                      2603|                  1127|
+------------+-----------------+---------------+--------------------------+----------------------+

In [ ]:
df_window2 = dffimpy.groupBy('escolaridade', 'estado_civil').agg(F.sum('fl_reclamacao').alias('total_reclamacoes'),
                                               F.sum('fl_resposta').alias('total_respostas'),
                                                F.sum('compras_desconto').alias('total_compras_com_desconto'))

#Agrupando reclamações, desconto e respostas de acordo com a escolaridade e estado civil.

In [ ]:
df_window2.show(100)

+------------+------------+-----------------+---------------+--------------------------+
|escolaridade|estado_civil|total_reclamacoes|total_respostas|total_compras_com_desconto|
+------------+------------+-----------------+---------------+--------------------------+
|   Tecnologo|    Solteiro|                1|              6|                        67|
|   Graduação|       Viúvo|                0|              6|                        81|
|         PhD|  Divorciado|                0|             18|                       143|
|   Graduação|      Casado|                6|             43|                      1016|
|   Tecnologo|  Divorciado|                1|              5|                        54|
|Ensino Médio|      Casado|                0|              0|                        36|
|    Mestrado|  Divorciado|                0|              6|                        92|
|   Graduação|       Alone|                0|              0|                         4|
|   Graduação|    Together|                4|             31|                       661|
|    Mestrado|       Alone|                0|              0|                         5|
|         PhD|    Together|                0|             12|                       238|
|         PhD|       Alone|                0|              1|                         2|
|    Mestrado|      Casado|                1|             15|                       350|
|Ensino Médio|    Together|                0|              2|                        18|
|Ensino Médio|  Divorciado|                0|              0|                         2|
|    Mestrado|    Together|                0|             12|                       278|
|    Mestrado|    Solteiro|                1|             18|                       138|
|         PhD|       Viúvo|                0|              7|                        56|
|    Mestrado|       Viúvo|                0|              6|                        32|
|   Tecnologo|    Together|                1|              3|                       153|
|   Tecnologo|      Casado|                1|              8|                       172|
|   Graduação|    Solteiro|                3|             52|                       566|
|         PhD|    Solteiro|                1|             30|                       212|
|         PhD|      Casado|                0|             32|                       493|
|   Graduação|  Divorciado|                1|             19|                       274|
|   Tecnologo|       Viúvo|                0|              0|                        10|
|Ensino Médio|    Solteiro|                0|              0|                        40|
|    Mestrado|      Absurd|                0|              0|                         3|
|Ensino Médio|       Viúvo|                0|              0|                         1|
|   Graduação|      Absurd|                0|              1|                         1|
|         PhD|        YOLO|                0|              1|                        10|
+------------+------------+-----------------+---------------+--------------------------+

In [ ]:
w0 = Window.partitionBy(F.col('escolaridade')).orderBy('total_compras_com_desconto')

In [ ]:
df_window2.withColumn('rank', F.rank().over(w0)).show()

#Rankiando o total de desconto por escolaridade e estado_civil

+------------+------------+-----------------+---------------+--------------------------+----+
|escolaridade|estado_civil|total_reclamacoes|total_respostas|total_compras_com_desconto|rank|
+------------+------------+-----------------+---------------+--------------------------+----+
|Ensino Médio|       Viúvo|                0|              0|                         1|   1|
|Ensino Médio|  Divorciado|                0|              0|                         2|   2|
|Ensino Médio|    Together|                0|              2|                        18|   3|
|Ensino Médio|      Casado|                0|              0|                        36|   4|
|Ensino Médio|    Solteiro|                0|              0|                        40|   5|
|   Graduação|      Absurd|                0|              1|                         1|   1|
|   Graduação|       Alone|                0|              0|                         4|   2|
|   Graduação|       Viúvo|                0|              6|                        81|   3|
|   Graduação|  Divorciado|                1|             19|                       274|   4|
|   Graduação|    Solteiro|                3|             52|                       566|   5|
|   Graduação|    Together|                4|             31|                       661|   6|
|   Graduação|      Casado|                6|             43|                      1016|   7|
|    Mestrado|      Absurd|                0|              0|                         3|   1|
|    Mestrado|       Alone|                0|              0|                         5|   2|
|    Mestrado|       Viúvo|                0|              6|                        32|   3|
|    Mestrado|  Divorciado|                0|              6|                        92|   4|
|    Mestrado|    Solteiro|                1|             18|                       138|   5|
|    Mestrado|    Together|                0|             12|                       278|   6|
|    Mestrado|      Casado|                1|             15|                       350|   7|
|         PhD|       Alone|                0|              1|                         2|   1|
+------------+------------+-----------------+---------------+--------------------------+----+
only showing top 20 rows

In [ ]:
w1 = Window.partitionBy(F.col('escolaridade')).orderBy('total_respostas')

In [ ]:
df_window2.withColumn('dense_rank', F.dense_rank().over(w1)).show()

+------------+------------+-----------------+---------------+--------------------------+----------+
|escolaridade|estado_civil|total_reclamacoes|total_respostas|total_compras_com_desconto|dense_rank|
+------------+------------+-----------------+---------------+--------------------------+----------+
|Ensino Médio|      Casado|                0|              0|                        36|         1|
|Ensino Médio|  Divorciado|                0|              0|                         2|         1|
|Ensino Médio|    Solteiro|                0|              0|                        40|         1|
|Ensino Médio|       Viúvo|                0|              0|                         1|         1|
|Ensino Médio|    Together|                0|              2|                        18|         2|
|   Graduação|       Alone|                0|              0|                         4|         1|
|   Graduação|      Absurd|                0|              1|                         1|         2|
|   Graduação|       Viúvo|                0|              6|                        81|         3|
|   Graduação|  Divorciado|                1|             19|                       274|         4|
|   Graduação|    Together|                4|             31|                       661|         5|
|   Graduação|      Casado|                6|             43|                      1016|         6|
|   Graduação|    Solteiro|                3|             52|                       566|         7|
|    Mestrado|       Alone|                0|              0|                         5|         1|
|    Mestrado|      Absurd|                0|              0|                         3|         1|
|    Mestrado|  Divorciado|                0|              6|                        92|         2|
|    Mestrado|       Viúvo|                0|              6|                        32|         2|
|    Mestrado|    Together|                0|             12|                       278|         3|
|    Mestrado|      Casado|                1|             15|                       350|         4|
|    Mestrado|    Solteiro|                1|             18|                       138|         5|
|         PhD|       Alone|                0|              1|                         2|         1|
+------------+------------+-----------------+---------------+--------------------------+----------+
only showing top 20 rows

##Salvando base no MONGO após o tratamento

In [ ]:
#Converter o DataFrame do Pyspark para Pandas - Não consegui enviar do Pyspark para o Mongo
df_final = dffimpy.toPandas()

In [ ]:
df_final.data_cadastro = pd.to_datetime(df['data_cadastro'], dayfirst=True)
#Foi necessario alterar novamente o tipo da coluna para date após o dataframe vir do Pyspark

In [ ]:
df_final.dtypes

In [ ]:
#Conexão com o Mongo
client = pymongo.MongoClient('mongodb+srv://soulcode:a1b2c3@trabalho.mljmmhi.mongodb.net/?retryWrites=true&w=majority')
#ACESSO A BASE PELO PROFESSOR.

In [ ]:
db = client['marketing']
marketing_tratado = db.tratado
marketing_tratado.count_documents({})

In [ ]:
df_dict = df_final.to_dict("records") 
marketing_tratado.insert_many(df_dict)

##Salvando arquivo tratado em CSV para armazenar no Bucket

In [ ]:
df_final.to_csv("marketing_tratado.csv",index=False)